//- Footer 

.footer
    .container
        .footer__wrap
            .footer__signUp
                .footer__title
                    .footer__subTitle Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</h2>
                .footer__moreSignUp
                    form(action="#" class="moreSignUp")
                        input(type="email" id="Email" placeholder="Nhập email của bạn...")
                        button(class="button signUp") Đăng ký ngay

            .footer__info
                .footer__typeInfo
                    ul
                        li
                            a(href="#") Trang Chủ
                        li
                            a(href="#") Danh Mục
                        li
                            a(href="#") Giới Thiệu
                        li
                            a(href="#") Liên Hệ
                .footer__icon
                    ul
                        li
                            a(href="#")
                                i(class="fa-brands fa-facebook")
                        li
                            a(href="#")
                                i(class="fa-brands fa-twitter")
                        li
                            a(href="#")
                                i(class="fa-brands fa-instagram")
                        li
                            a(href="#")
                                i(class="fa-brands fa-youtube")

            .footer__otherInfo
                .footer__license
                    | © 2023 DDT. All rights reserved.
                .footer__logo
                    a(href="#")
                        img(src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xml:space='preserve'%20id='monito'%20x='0'%20y='0'%20version='1.1'%20viewBox='0%200%20819.6%20216'%3e%3cstyle%3e.st2{fill:%2365a435}.st3{fill:%235f7672}%3c/style%3e%3cpath%20fill='%233d843d'%20d='M711.6%2072c-39.8%200-72%2032.2-72%2072s32.2%2072%2072%2072l72-72-72-72z'/%3e%3cpath%20fill='%238cc42d'%20d='M711.6%200c-39.8%200-72%2032.2-72%2072s32.2%2072%2072%2072l72-72-72-72z'/%3e%3cpath%20d='M758.2%2082.5h50.9v50.9h-50.9z'%20class='st2'%20transform='rotate(-45%20783.64%20108.01)'/%3e%3cpath%20d='m711.6%20144%2036-36-36-36a71.9%2071.9%200%200%200-62.3%2036%2071.9%2071.9%200%200%200%2062.3%2036z'%20class='st2'/%3e%3cpath%20d='M44.5%2063c11.3%200%2021.2%205%2026.5%2017.1%205.8-11%2016.9-17.1%2029-17.1%2022%200%2031.9%2015.7%2031.9%2034.7v52.9H115v-47.3c0-13.9-4.1-26.1-18.9-26.1-15.5%200-21.6%2014-21.6%2027.4v46.1H57.4V99.9c0-13.3-4.5-22.7-18-22.7-12.4%200-21.8%2011.2-21.8%2028.1v45.4H.7v-67c0-4.5-.2-12.8-.7-18.4h16c.4%204.3.7%2010.4.7%2014h.5C21.6%2070.4%2031.5%2063%2044.5%2063zM200.7%20153c-26.1%200-45.9-18.9-45.9-45.2S174.6%2063%20200.7%2063c26.1%200%2046.1%2018.5%2046.1%2044.8s-20%2045.2-46.1%2045.2zm0-76c-18.2%200-28.4%2014.6-28.4%2030.8%200%2016.2%2010.3%2031%2028.4%2031%2018.4%200%2028.4-14.8%2028.4-31S219.1%2077%20200.7%2077zM285.5%2065.3c.4%204.3.7%2010.4.7%2014h.5c4.1-9.2%2015.5-16.4%2027.7-16.4%2022%200%2031.9%2015.7%2031.9%2034.7v52.9h-16.9v-47.3c0-13.9-3.8-26.1-19.4-26.1-13.3%200-22.9%2011.2-22.9%2028.1v45.4h-16.9v-67c0-4.5-.2-12.8-.7-18.4h16zM383.6%2045.4c-6.1%200-11.2-4.9-11.2-10.8%200-6.1%205-11%2011.2-11s11.3%204.7%2011.3%2011c0%206.1-5.2%2010.8-11.3%2010.8zm8.4%20105.3h-16.9V65.3H392v85.4zM463.3%2079.2h-22.7v44.5c0%2010.3%203.6%2014.4%2012.1%2014.4%203.1%200%207-.7%209.9-2.2l.5%2013.9c-4%201.4-9.2%202.3-14.4%202.3-16%200-24.8-9-24.8-26.6V79.2h-16.4V65.3h16.4V40.9h16.7v24.5h22.7v13.8zM521.1%20153c-26.1%200-45.9-18.9-45.9-45.2S495%2063%20521.1%2063c26.1%200%2046.1%2018.5%2046.1%2044.8s-20%2045.2-46.1%2045.2zm0-76c-18.2%200-28.4%2014.6-28.4%2030.8%200%2016.2%2010.3%2031%2028.4%2031%2018.4%200%2028.4-14.8%2028.4-31S539.5%2077%20521.1%2077z'%20class='st3'/%3e%3c/svg%3e" width="150px" alt="Monito")
                .footer__other
                    ul
                        li
                            a(href="#") Điều khoản dịch vụ
                        li
                            a(href="#") Chính sách bảo mật
//- End Footer