section.booking__container
    .booking__nav
        span Economy Class
        span Business Class
        span First Class
    form
        .form__group
            span
                i.ri-map-pin-line
            .input__content
                .input__group
                    input(type='text')
                    label Location
                    p Where are you goung?
        .form__group
            span
                i.ri-user-3-line
            .input__content
                .input__group
                    input(type='number')
                    label Travellers
                    p Add guests
        .form__group
            span
                i.ri-calendar-line
            .input__content
                .input__group
                    input(type='text')
                    label Departure
                    p Add date
        .form__group
            span
                i.ri-calendar-line
            .input__content
                .input__group
                    input(type='text')
                    label Return
                    p Add date
        button.button
            i.ri-search-line