extends ../../layouts/default.pug

block main 
    .section__container
        include section.pug
    .container
        include booking.pug
    .container
        include plan.pug
    include memories.pug
    .container
        include lounge.pug
    include places.pug
    .container
        include travellers.pug
    