extends ../../layouts/default.pug

block styles
    link(rel="stylesheet", href="/client/css/flightsearch/style.css")

block main 
    .section__container
        include section.pug
    .container
        include booking.pug
    .container 
        include campaign.pug
    .container
        include plan.pug
    include memories.pug
    .container
        include lounge.pug
    include places.pug
    .container
        include travellers.pug
    