section.lounge__container
    .lounge__image
        img(src='/client/images/home/lounge-1.jpg' alt='lounge_1' loading='lazy')
        img(src='/client/images/home/lounge-2.jpg' alt='lounge_2' loading='lazy')
    .lounge__content
        h2.section__header Phòng chờ dành cho trẻ vị thành niên không có người đi cùng
        .lounge__grid
            .lounge__details
                h4 Trải nghiệm sự bình yên
                p
                    | 3Wings Haven mang đến một nơi nghỉ ngơi yên tĩnh, có 
                    | chỗ ngồi thoải mái, bầu không khí êm dịu và dịch vụ chu đáo.
            .lounge__details
                h4 Nâng cao trải nghiệm của bạn
                p
                    | Được thiết kế dành cho những du khách sành điệu, phòng chờ độc quyền này 
                    | cung cấp các tiện nghi cao cấp, dịch vụ hỗ trợ và không gian làm việc riêng tư.
            .lounge__details
                h4 Một không gian chào đón
                p
                    | Tạo ra bầu không khí thân thiện với gia đình, The Family 
                    | Zone là thiên đường hoàn hảo cho cha mẹ và con cái.
            .lounge__details
                h4 Một niềm vui ẩm thực
                p
                    | Đắm chìm trong thế giới hương vị, cung cấp các món ăn quốc tế, 
                    | món ăn ngon và đồ uống được tuyển chọn cẩn thận.