section.memories
    .controller
        .memories__container
            .memories__header
                h2.section__header
                    | Du lịch để lưu giữ kỷ niệm khắp thế giới
                button.view__all Xem tất cả
            .memories__grid
                .memories__card
                    span
                        i.ri-calendar-2-line
                    h4 Đặt phòng và thư giãn
                    p
                        | Với "Đặt chỗ và thư giãn", bạn có thể ngồi lại, thư giãn và 
                        | tận hưởng chuyến đi trong khi chúng tôi lo mọi việc khác.
                .memories__card
                    span
                        i.ri-shield-check-line
                    h4 Danh sách kiểm tra thông minh
                    p
                        | Giới thiệu Danh sách kiểm tra thông minh với chúng tôi, giải pháp đổi mới 
                        | cách mạng hóa cách bạn đi du lịch với hãng hàng không của chúng tôi.
                .memories__card
                    span
                        i.ri-bookmark-2-line
                    h4 Tiết kiệm thêm
                    p
                        | Từ giá vé chiết khấu đến các chương trình khuyến mãi và ưu đãi độc quyền, 
                        |  chúng tôi ưu tiên khả năng chi trả mà không ảnh hưởng đến chất lượng.