section.plan__container
    p.subheader HỖ TRỢ DU LỊCH
    h2.section__header Tự tin lên kế hoạch cho chuyến đi của bạn
    p.description
        | Tìm trợ giúp về việc đặt chỗ và kế hoạch du lịch của bạn, đồng thời xem 
        | những gì sẽ xảy ra trong hành trình của bạn.
    .plan__grid
        .plan__content
            span.number 01
            h4 Yêu cầu du lịch đối với Dubai
            p
                | Luôn cập nhật thông tin và chuẩn bị cho chuyến đi đến Dubai của bạn với 
                | các yêu cầu du lịch thiết yếu, đảm bảo trải nghiệm suôn sẻ và không gặp 
                | rắc rối tại thành phố sôi động và quyến rũ này.
            span.number 02
            h4 Bảo hiểm du lịch đa rủi ro
            p
                | Bảo vệ toàn diện để bạn yên tâm, bao gồm nhiều rủi ro 
                | du lịch tiềm ẩn và các tình huống bất ngờ.
            span.number 03
            h4 Yêu cầu du lịch theo điểm đến
            p
                | Luôn cập nhật thông tin và lên kế hoạch cho chuyến đi của bạn một cách 
                | dễ dàng vì chúng tôi cung cấp thông tin cập nhật về các yêu cầu du lịch 
                | cụ thể cho các điểm đến mong muốn của bạn.
        .plan__image
            img(src='/client/images/home/plan-1.jpg' alt='plan_1' loading='lazy')
            img(src='/client/images/home/plan-2.jpg' alt='plan_2' loading='lazy')
            img(src='/client/images/home/plan-3.jpg' alt='plan_3' loading='lazy')