section.section
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                img(src="/client/images/home/anh1.jpg", alt="header1" loading='lazy')
            .swiper-slide
                img(src="/client/images/home/anh2.jpg", alt="header2" loading='lazy')
            .swiper-slide
                img(src="/client/images/home/anh3.jpg", alt="header3" loading='lazy')
            .swiper-slide
                img(src="/client/images/home/anh4.jpg", alt="header4" loading='lazy')
        .pagination-container
            .swiper-pagination
            button.play-pause-btn
                <i class="ri-pause-circle-line"></i>


