section.travellers__container
    h2.section__header Khách du lịch tốt nhất trong tháng
    .travellers__grid
        .travellers__card(data-aos="fade-right")
            img(src='/client/images/home/traveller-1.jpg' alt='traveller' loading='lazy')
            .travellers__card__content
                img(src='/client/images/home/client-1.jpg' alt='client' loading='lazy')
                h4 Emily Johnson
                p Dubai
        .travellers__card(data-aos="fade-right")
            img(src='/client/images/home/traveller-2.jpg' alt='traveller' loading='lazy')
            .travellers__card__content
                img(src='/client/images/home/client-2.jpg' alt='client' loading='lazy')
                h4 David Smith
                p Paris
        .travellers__card(data-aos="fade-right")
            img(src='/client/images/home/traveller-3.jpg' alt='traveller' loading='lazy')
            .travellers__card__content
                img(src='/client/images/home/client-3.jpg' alt='client' loading='lazy')
                h4 Olivia Brown
                p Singapore
        .travellers__card(data-aos="fade-right")
            img(src='/client/images/home/traveller-4.jpg' alt='traveller' loading='lazy')
            .travellers__card__content
                img(src='/client/images/home/client-4.jpg' alt='client' loading='lazy')
                h4 Daniel Taylor
                p Malaysia

                                        
                                        
