extends ../../layouts/default.pug

block main 
    .flight-container
        .content
        #popup.popup
            .popup-content
                h2 Th&ocirc;ng tin chi ti&#x1EBF;t
                br
                #popupText
                br
                button#closePopup &Dstrok;&oacute;ng
    
    script.
        const flightsData = !{JSON.stringify(flights)};
        console.log(flightsData);
    script(type='module' src='/client/js/flightinfo/flight.js')
