extends ../../layouts/default.pug

block styles
    link(rel="stylesheet", href="/client/css/flightinfo/passengerinfo.css")

block main 
    .info-container
      h1 Đặt chuyến bay
      form#booking-form
        #passenger-info-container
        div
            h3 Thông tin liên lạc
            label(for='contact-email') Email*
            input.contact-email(type='email', name='contact-email', required='')
            label(for='contact-phone') Số điện thoại*
            input.contact-phone(type='text', name='contact-phone', required='', minlength='10', maxlength='10')
        button#submitForm.btn(type='button') Xác nhận
    script.
        const passengerNumData = !{JSON.stringify(passengerNumber)};
        const flightData = !{JSON.stringify(flight)}
        const seatClass = !{JSON.stringify(seatClass)}
    script(type='module' src='/client/js/flightinfo/passengerinfo.js')