extends ../../layouts/default.pug

block styles
    link(rel="stylesheet", href="/client/css/flightinfo/passengerinfo.css")

block main 
    .info-container
      h1 Flight Booking
      form#booking-form
        #passenger-info-container
        div
            h3 Contact Information
            label(for='contact-email') Email*
            input.contact-email(type='email', name='contact-email', required='')
            label(for='contact-phone') Phone Number*
            input.contact-phone(type='number', name='contact-phone', required='')
        button#submitForm.btn(type='button') Submit
    script.
        const passengerNumData = !{JSON.stringify(passengerNumber)};
        const flightData = !{JSON.stringify(flight)}
    script(type='module' src='/client/js/flightinfo/passengerinfo.js')