extends ../../layouts/default.pug

block styles
  link(rel="stylesheet", href="/client/css/login/login.css")

block main
    .wrapper
      .login_box.form-container.active(id="login")
        .login-header
          span Login
        .input_box
          input(type="text", id="user", class="input-field", required, placeholder="Username")
          i(class="bx bx-user icon")
        .input_box
          input(type="password", id="password", class="input-field", required, placeholder="Password")
          i(class="bx bx-lock-alt icon")
        .remember-forgot
          .remember-me
            input(type="checkbox", id="remember")
            label(for="remember") Remember me
          .forgot
            a(href="#") Forgot password?
        .input_box
          input(type="submit", class="input-submit", value="Login")
        .register
          span Don't have an account?
          a(href="#resgiter", onclick="showRegister()") Register

      .register_box.form-container(id="register")
        .register-header
          span Register
        .input_box
          input(type="text", id="user", class="input-field", required, placeholder="Username")
          i(class="bx bx-user icon")
        .input_box
          input(type="email", id="email", class="input-field", required, placeholder="Email")
          i(class="bx bx-envelope icon")
        .input_box
          input(type="password", id="password", class="input-field", required, placeholder="Password")
          i(class="bx bx-lock-alt icon")
        .terms-conditions
          input(type="checkbox", id="terms")
          label(for="terms") I agree to the terms and conditions
        .input_box
          input(type="submit", class="input-submit", value="Register")
        .login
          span Already have an account?
          a(href="#login", onclick="showLogin()") Login

    script(src="/client/js/login/login.js")
