extends ../../layouts/default.pug

block styles
  link(rel="stylesheet", href="/client/css/login/styles.css")

block main
  .wrapper
    //- Form Login
    form.login_box.form-container#login(action='/login/loginaccount' method='POST')
      .login-header
        span Login
      .input_box
        input#user.input-field(type="text" name='loginUsername' required)
        label(for="user" class="label") Username
        i.bx.bx-user.icon
      .input_box
        input#password.input-field(type="password" name='loginPassword' required)
        label(for="password" class="label") Password
        i.bx.bx-lock-alt.icon
      .remember-forgot
        .remember-me
          input#remember(type="checkbox")
          label(for="remember") Remember me
        .forgot
          a(href="#") Forgot password?
      .input_box
        input.input-submit(type="submit" value="Login")
      .register
        span Don't have an account?
        a(href="#" onclick="showRegister()") Register

    //- Form Register
    form.register_box.form-container#register(action='/login/signupaccount' method='POST')
      .register-header
        span Register
      .input_box
        input#user.input-field(type="text" name='signupUsername' required)
        label(for="user" class="label") Username
        i.bx.bx-user.icon
      .input_box
        input#email.input-field(type="email" name='signupEmail' required)
        label(for="email" class="label") Email
        i.bx.bx-envelope.icon
      .input_box
        input#password.input-field(type="password" name='signupPassword' required)
        label(for="password" class="label") Password
        i.bx.bx-lock-alt.icon
      .terms-conditions
        input#terms(type="checkbox")
        label(for="terms") I agree to the terms and conditions
      .input_box
        input.input-submit(type="submit" value="Register")
      .login
        span Already have an account?
        a(href="#" onclick="showLogin()") Login

  script(src="/client/js/login/script.js")
    