.right 
    .top 
        button#menu_bar 
            span.material-symbols-sharp menu 
        .theme-toggler
            span.material-symbols-sharp.active light_mode 
            span.material-symbols-sharp dark_mode
        .profile
            .info
                <p><b>Babar</b></p>
                <p>Admin</p>
                small.text-muted
            .profile-photo
                img(src="/client/images/logo.png" alt="")
    .recent_updates
        h2 Recent Update 
        .updates
            .update
                .profile-photo
                    img(src="/client/images/logo.png")   
                .message
                    <p><b>Babar</b> Recived his order of USB</p>
            .update
                .profile-photo
                    img(src="/client/images/logo.png")
                .message
                    <p><b>Babar</b> Recived his order of USB</p>
            .update
                .profile-photo
                    img(src="/client/images/logo.png")
                .message
                    <p><b>Babar</b> Recived his order of USB</p>

